DISCORD_TOKEN=isi_token_bot
CLIENT_ID=isi_application_id
GEMINI_API_KEY=isi_api_key_gemini
# Opsional: isi supaya command muncul instan di 1 server
GUILD_ID=
# Opsional
GEMINI_MODEL=gemini-2.5-flash
PANEL_FOOTER=CS System
COOLDOWN_MS=30000
